.terms {
    padding-top: 120px;
    padding-bottom: 120px;
}

.terms h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

.terms p + h2 {
    margin-top: 40px;
}

.terms p {
    margin-bottom: 24px;
    max-width: 80ch ;
}
